.Shares {
  border: black solid 2px;
  margin: 10% 0 10px;
  font-size: 20px;
}
.Shares h5 {
  text-align: center;
  color: coral;
  font-size: 25px;
  font-style: italic;
}

.Shares p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.Shares ul {
  margin-left: 30px;
}

.Shares li {
  margin: 10px;
}
