.PartnersBlock {
  text-align: center;
  margin-bottom: 5%;
}
h3 {
  font-size: 30px;
  color: rgb(224, 111, 18);
}
.PartnersBlock p {
  font-size: 16px;
  line-height: 25px;
  color: #082f5a;
}

.Partners {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Partner {
  align-self: center;
}

.Partner img {
  width: 200px;
  height: auto;
}
