.FeedBack {
  margin: 5% 0;
  border: 4px solid black;
  padding: 10%;
  text-align: center;
}
.FeedBack p {
  font-size: 20px;
  font-weight: bold;
}
.FeedBack img {
  width: 1000px;
}
.form {
  display: flex;
  justify-content: space-around;
}

.field {
  width: 200px;
  height: 30px;
}
.form button {
  margin-top: 20px;
  width: 150px;
  height: 35px;
}
